<!-- la note enchantée -->
html{
  height: 100%;
  margin: 0; padding: 0;
}

body{
  display: table;
  width: 100%;
}

header{
  padding: 35px 0;
  margin: 0;
  background-color: #579C87;
}

img{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}

.fas{
  padding-top: 60px;
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Menu1{
  font-family:'Zhi Mang Xing', cursive;
}

.article{
  font-family:'Zhi Mang Xing', cursive;
  font-size: 2em;
  text-align: center;
}

h1{
  font-family:'Zhi Mang Xing', cursive;
  font-size: 2.5em;
  color: #3c1218;
  text-align: center;
}

h2{
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Dancing Script', sérif;
    font-size: 1.5em;
    color: #3c1218;
}
h2:before, h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 45%;
    height: 3px;
    content: '\a0';
    background-color: #3c1218;
}
h2:before {
    margin-left: -50%;
    text-align: right;
}

h3{
  font-family: 'Dancing Script', sérif;
  font-size: 0.8em;
  color: #3c1218;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

.nom{
  font-family: 'Dancing Script', sérif;
  font-size: 1.5em;
  color: #3c1218;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

footer{
  display: table-row;
  height: 100%;
  background-color: #579C87;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  color: #fdcb46;
  
}