<!-- la note enchantée -->
html, body{
  height: 100%;
  margin: 0; padding: 0;
}

body{
  display: table;
  width: 100%;
}

header{
  padding: 35px 0;
  margin: auto;
  margin-top: -8px;
  background-color: #579C87;
}

img{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}

.fas{
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Menu1{
  font-family:'Zhi Mang Xing', cursive;
  margin-top: -20px;
}

.article{
  font-family:'Zhi Mang Xing', cursive;
  font-size: 2em;
  text-align: center;
}

h1{
  margin-top: 0;
  font-family:'Caveat', cursive;
  font-size: 2em;
  font-weight: lighter;
  color: #3c1218;
  text-align: center;
}

h2{
    padding: 1em 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Dancing Script', sérif;
    font-size: 1.3em;
    color: #3c1218;
}
h2:before, h2:after {
    display: inline-block;
    vertical-align: middle;
    top: 51%;
    overflow: hidden;
    width: 13em;
    height: 3px;
    content: " ";
    background-color: #3c1218;
}
h2:before {
    margin-left: -100%;
    margin-right: 3em;
  }

h2:after {
    margin-right:-100%;
    margin-left: 3em;
}

h3{
  font-family: 'Dancing Script', sérif;
  font-size: 1em;
  color: #3c1218;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

h3 span.gauche{
  float: left;
  padding-left: 3em;
}

h3 span.droite{
  float: right;
  padding-right: 3em;
}

.nom{
  font-family:'Caveat', cursive;
  font-size: 1.3em;
  color: #3c1218;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

footer{
  padding: 0.1rem 0;
  background-color: #579C87;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  color: #fdcb46;
  display: table-row;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

footer p{
  padding-bottom: 1rem; 
  margin: 15px;
  text-align: center;
  line-height: 1em;
}

.gauche{
  float: left;
}

.droite{
  float: right;
}