<!-- le chic à la française -->
html{
  height: 100%;
  margin: 0; padding: 0;
}

body{
  display: table;
  width: 100%;
  margin: 0; padding: 0;
}

header{
  padding: 35px 0;
  margin: auto;
  margin-top: -8px;
  background-color: #579C87;
}

img{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}
.center-div{
  margin: 0 auto;
  width: 350px;
}

.center-div p{
  padding-top: 10px;
}

h1, h2, h3{
  font-family: 'Gabriela', serif;
  font-weight: lighter;
}

h1, h2{
   text-align: center;
}

h1{
  background-color: #fff5fe;
  font-size: 2em;
  background: linear-gradient(to right, #c67412 45%, #6e4ccc 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h2{
  font-size: 1.3em;
  font-stretch: condensed;
  padding-top: -5px;
}

h3{
  line-height: 1px;
  font-size: 1em;
  text-align: left;
}

h4{
  font-size: 1em;
  text-align: right;
}

/*traits*/
#trait
{ 
  display: inline-block; 
  width : 33%; 
}

hr{
  border-bottom: 2px solid;
  border-radius: 5px;
  background-image: linear-gradient(#dd4b39, #d14836);
  padding: 1px;
}
/*fin traits*/

table
{
  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 60em;
}

.entrees, .plats, .desserts{
  font-family: 'Gabriela', serif;
  font-size: 0.8em;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1%;
  padding: 5px;
}

.entrees{
  color: #c67412;
}

.plats{
  color: #a56799;
}

.desserts{
  color: #6e4ccc;
}

td
{
text-align :left;
}

.section, .center-div{
  margin-top: 250px;
  background-color: #579C87;
  height: 40px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: #fdcb46;
  text-align: center;
  vertical-align: middle;
}

footer{
  padding: 2px;
  background-color: #579C87;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  color: #fdcb46;
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
}

footer p{
  padding-bottom: 1rem; 
  margin: 25px;
  text-align: center;
  line-height: 1em;
}

#gauche{
  float: left;
}

#droite{
  float: right;
}

/*animation wiggle*/
h5 {
  font-size: 0.8em;
  color: #fdcb46;
}

h5:hover{
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(3deg);}
  25% {-webkit-transform: rotate(-3deg);}
  50% {-webkit-transform: rotate(3deg);}
  75% {-webkit-transform: rotate(-3deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(3deg);}
  25% {-ms-transform: rotate(-3deg);}
  50% {-ms-transform: rotate(3deg);}
  75% {-ms-transform: rotate(-3deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(3deg);}
  25% {transform: rotate(-3deg);}
  50% {transform: rotate(3deg);}
  75% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}
/*fin animation wiggle*/
