/* la palette du goût */
body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header{
  padding: 35px 0;
  margin: 0;
  background-color: #579C87;
}

.logo{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}

.container{
  display: flex;
  flex-direction : column;
  justify-content: center;
}

.ligne{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items : center;
  margin-left: 10%;
  margin-right: 10%;
}

h1, h2, h3{
  font-family: 'Caveat', serif;
  font-weight: lighter;
}

h1, h2{
   text-align: center;
}

h3, h4{
  line-height: 1%;
}

h1{
  background-color: #fff5fe;
  font-size: 2em;
  margin-top: 5px;
  background: linear-gradient(to right, #62b24e 0%, #bffe7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script', cursive;
}

h2{
  font-size: 1.7em;
  font-stretch: condensed;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.trait{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 11px;
}

.trait2{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 11px;
}

h3{
  font-size: 1.3em;
  text-align: left;
  margin: 12px;
  width: 70%;
}

h4{
  font-size: 1em;
  text-align: right;
  margin: 2px;
  width: 15%;
}

.content
{
  width: 200px;
}

.content a { /*titre souligné*/
  text-decoration: none;
  position: relative;
  color: #000000;
  cursor: default;
}

.content a:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #579c87;
  transition: 0.2s;
}

.content a:hover:after {
  width: 100%;
}

footer{
  padding: 3px;
  margin: auto;
  background-color: #579C87;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  color: #fdcb46;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p{
  padding-bottom: 1rem; 
  text-align: center;
  margin: 6px;
  padding: 3px;
}

#gauche{
  float: left;
}

#droite{
  float: right;
}

/*animation wiggle*/
p {
  font-size: 0.8em;
  color: #fdcb46;
}

p:hover{
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(3deg);}
  25% {-webkit-transform: rotate(-3deg);}
  50% {-webkit-transform: rotate(3deg);}
  75% {-webkit-transform: rotate(-3deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(3deg);}
  25% {-ms-transform: rotate(-3deg);}
  50% {-ms-transform: rotate(3deg);}
  75% {-ms-transform: rotate(-3deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(3deg);}
  25% {transform: rotate(-3deg);}
  50% {transform: rotate(3deg);}
  75% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}
/*fin animation wiggle*/
