body, html{
  height: 100%;
	margin: 0;
	padding: 0;
}

header{
	padding: 35px 0;
	margin: 0;
	background-color: #579C87;
}

img{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 250px;
    margin: 90px 0px;
}

.span{
  display:inline-table;
}

.menu{
  padding: 5px;
  width: 200px;
  height: 250px;
  margin-top: 1px;
  box-shadow: 6px 6px 6px #ededed;
  text-align: center; 
}

.menu p{
  padding-top: 80px;
}

.fas{
  padding-top: 30px;
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#item1{
  background-color: #fcdfdb;
  font-family: 'Caveat', cursive;
  font-size: 1em;
  font-weight: lighter;
  color: #3c1218;
}

#item1 p{
  padding-top: 0;
}

#item2{
  background-color: #fff5fe;
  font-family: 'Gabriela', serif;
  font-size: 0.7em;
  background: linear-gradient(to right, #c77412 20%, #9b62db 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#item3{
  background-color: #f9f9f9;
  background: linear-gradient(to right, #5075ea 0%, #83c0fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script', cursive;
  font-size: 1em;
  font-weight: lighter;
}

#item4{
  background-color: #fdfffd;
  background: linear-gradient(to right, #62b24e 0%, #bffe7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script', cursive;
  font-size: 1em;
}

.center-div{
  margin: 0 auto;
  width: 350px;
}

.center-div p{
  padding-top: 10px; 
}

.section, .center-div{
  margin-top: 150px;
  background-color: #579C87;
  height: 40px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: #fdcb46;
  text-align: center;
  vertical-align: middle;
}

footer{
	padding: 5px;
	background-color: #579C87;
	font-family: 'roboto', sans-serif;
	font-size: 1em;
  color: #fdcb46;
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
}

footer p{
  padding-bottom: 1rem; 
  margin-right: 5px;
  text-align: center;
  line-height: 1em;
}

#gauche{
  float: left;
}

#droite{
  float: right;
}

/*au clic*/
footer a{
  color: #fdcb46; 
}

#item1, #item2, #item3, #item4 a{
  text-decoration-line: none;
}

#item1 a{
  color:#3c1218;
}

/*animation zoom*/


/*animation wiggle*/
h3 {
  font-size: 0.8em;
}

h3:hover{
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(3deg);}
  25% {-webkit-transform: rotate(-3deg);}
  50% {-webkit-transform: rotate(3deg);}
  75% {-webkit-transform: rotate(-3deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(3deg);}
  25% {-ms-transform: rotate(-3deg);}
  50% {-ms-transform: rotate(3deg);}
  75% {-ms-transform: rotate(-3deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(3deg);}
  25% {transform: rotate(-3deg);}
  50% {transform: rotate(3deg);}
  75% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}
/*fin animation wiggle*/

/*responsive pour les blocs */
@media all and (max-width: 480px){
    
    /* version pour smartphone */
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */
}

    #flex-container{
        flex-direction: column;
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    @media (min-width: 480px) and (max-width: 780px){
      /*version pour smartphone ft paysage, tablette ft portrait*/
    }

    @media (min-width: 781px) and (max-width: 979px){
      /*version pour tablette ft paysage, ordis petits écrans*/
    }


