body, html{
  height: 100%;
	margin: 0;
	padding: 0;
}

header{
	padding: 35px 0;
	margin: 0;
	background-color: #579C87;
}

img{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 150px;
    margin: 90px 0px;
}

.menu{
  padding: 5px;
  width: 200px;
  height: 250px;
  margin-top: 10px;
  box-shadow: 6px 6px 6px #ededed;
  text-align: center; 
}

.menu p{
  padding-top: 80px;
  line-height: 30px;
}

.fas{
  padding-top: 30px;
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#item1{
  background-color: #fcdfdb;
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  font-weight: lighter;
  color: #3c1218;
}

#item1 p{
  padding-top: 0;
}

#item2{
  background-color: #fff5fe;
  font-family: 'Gabriela', serif;
  font-size: 1.em;
  background: linear-gradient(to right, #c77412 20%, #9b62db 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#item3{
  background-color: #f9f9f9;
  background: linear-gradient(to right, #5075ea 0%, #83c0fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
  font-weight: lighter;
}

#item4{
  background-color: #fdfffd;
  background: linear-gradient(to right, #62b24e 0%, #bffe7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.2em;
}

.center-div{
  margin: 0 auto;
  width: 350px;
}

.center-div p{
  padding-top: 10px; 
}

.section, .center-div{
  margin-top: 240px;
  background-color: #579C87;
  height: 40px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: #fdcb46;
  text-align: center;
  vertical-align: middle;
}

footer{
	padding: 10px;
	background-color: #579C87;
	font-family: 'roboto', sans-serif;
	font-size: 1em;
  color: #fdcb46;
  position: absolute;
  bottom: 0;
  width: 98.5%;
  text-align: center;
}

footer p{
  padding-bottom: 1rem; 
  margin: 25px;
  text-align: center;
  line-height: 1em;
}

.gauche{
  float: left;
}

.droite{
  float: right;
}

/*au clic*/
footer a{
  color: #fdcb46; 
}

#item1 a{
  color: #3c1218;
  text-decoration: none;
}

#item2 a{
  color: none;
  text-decoration: none;
}

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 90%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fdcb46;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 15px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/*responsive pour les blocs */

@media all and (max-width: 480px){
    
    /* version pour smartphone */
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */
}

    .flex-container{
        flex-direction: column;
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    @media (min-width: 480px) and (max-width: 780px){
      /*version pour smartphone ft paysage, tablette ft portrait*/
    }

    @media (min-width: 781px) and (max-width: 979px){
      /*version pour tablette ft paysage, ordis petits écrans*/
    }


